################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/eswContest/v16/Browse.VC.opendb
/.vs/eswContest/v16/Browse.VC.db
/.vs/eswContest/v16
/CarSDK/CrossCompiler
/.vs
.vscode/settings.json
.vscode/c_cpp_properties.json
CarSDK/Application/self_driving_program/car_lib.lo
CarSDK/Application/self_driving_program/control_mission.lo
CarSDK/Application/self_driving_program/display-kms.lo
CarSDK/Application/self_driving_program/drawing.lo
CarSDK/Application/self_driving_program/exam_cv.lo
CarSDK/Application/self_driving_program/imgProcess.lo
CarSDK/Application/self_driving_program/input_cmd.lo
CarSDK/Application/self_driving_program/mission.lo
CarSDK/Application/self_driving_program/self_driving_program
CarSDK/Application/self_driving_program/util.lo
CarSDK/Application/self_driving_program/v4l2.lo
CarSDK/Application/self_driving_program/vpe-common.lo
