################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/eswContest/v16/Browse.VC.opendb
/.vs/eswContest/v16/Browse.VC.db
/.vs/eswContest/v16
/CarSDK/CrossCompiler
/.vs
.vscode/settings.json
CarSDK/Application/manual_mode/manualMode
CarSDK/Application/manual_mode/manualMode.o
CarSDK/Application/6_camera_opencv_disp/camera_opencv_disp
CarSDK/Application/6_camera_opencv_disp/display-kms.lo
CarSDK/Application/6_camera_opencv_disp/drawing.lo
CarSDK/Application/6_camera_opencv_disp/exam_cv.lo
CarSDK/Application/6_camera_opencv_disp/input_cmd.lo
CarSDK/Application/6_camera_opencv_disp/util.lo
CarSDK/Application/6_camera_opencv_disp/v4l2.lo
CarSDK/Application/6_camera_opencv_disp/vpe-common.lo
CarSDK/Application/7_all_test/car_lib.lo
CarSDK/Application/7_all_test/display-kms.lo
CarSDK/Application/7_all_test/drawing.lo
CarSDK/Application/7_all_test/exam_cv.lo
CarSDK/Application/7_all_test/input_cmd.lo
CarSDK/Application/7_all_test/util.lo
CarSDK/Application/7_all_test/v4l2.lo
CarSDK/Application/7_all_test/vpe-common.lo
CarSDK/Application/7_all_test/camera_opencv_disp
CarSDK/Application/2_2_camera_RGB_dump_test/camera_vpe_dump_disp
CarSDK/Application/2_2_camera_RGB_dump_test/display-kms.lo
CarSDK/Application/2_2_camera_RGB_dump_test/input_cmd.lo
CarSDK/Application/2_2_camera_RGB_dump_test/util.lo
CarSDK/Application/2_2_camera_RGB_dump_test/v4l2.lo
CarSDK/Application/2_2_camera_RGB_dump_test/vpe-common.lo
CarSDK/Application/7_all_test/imgProcess.lo
CarSDK/Application/7_all_test/all_control_camera_test
CarSDK/Application/7_all_test/imgProcess.lo
CarSDK/Application/0/display-kms.lo
CarSDK/Application/0/drawing.lo
CarSDK/Application/0/exam_cv.lo
CarSDK/Application/0/input_cmd.lo
CarSDK/Application/0/util.lo
CarSDK/Application/0/v4l2.lo
CarSDK/Application/0/vpe-common.lo
CarSDK/Application/0/car_lib.lo
CarSDK/Application/0/all_control_camera_test
CarSDK/Application/0/imgProcess.lo
CarSDK/Application/0/all_control_camera_test
